server {
        listen 80;
        # listen [::]:80 ipv6only=on;

        access_log /var/log/nginx/access_{{ name }}-80;
        error_log  /var/log/nginx/error_{{ name }}-80;

        root {{ path }};
        index index.html index.htm;

        server_name {{ name }};

        # directory for letsencrypt
        location /.well-known/acme-challenge {
                default_type "text/plain";
        }

        location / {
                # First attempt to serve request as file, then
                # as directory, then fall back to displaying a 404.
                try_files $uri $uri/ =404;
                autoindex on;
        }

        #error_page 404 /404.html;

        # redirect server error pages to the static page /50x.html
        #
        #error_page 500 502 503 504 /50x.html;
        #location = /50x.html {
        #       root /usr/share/nginx/html;
        #}
}
